.title {
	font-style: italic;
}
ul {
	list-style-type: none;
	font-weight: bold;
    padding: 0;
}
.samy {
	border-style: groove;
	border-radius: 5px;
	height: 600px;
	width: 350px;
	padding: 15px
}
.card {
	border-style: groove;
    border: inset;
    margin: margin;
    padding: 300px;

}
.top {
    border-style: groove;
  	border-radius: 5px;
		border-spacing: 50px;
    height: 300px;
		width: 280px;
    padding: 10px;
}
body {
    padding: auto;
}
img {
    width: 300px;
    display: block
    margin: auto
}
.baby {
    border-style: groove;
}
